header{

    text-align: center;

    font-family:Georgia, 'Times New Roman', Times, serif;

    font-size:xx-large;

    color:darkslategray;

    background-color: blanchedalmond;

}

header > h1 {

    margin-top: 0px;

}