.img {
    background-image: url("/day2/images/puppy_poster.jpg");
    background-size: auto 80% ; /* one argument sets the image width to the div width some %*/
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-color: white; 
}

a {
    color: red !important;
}



.flex-container {
    background-color: rgb(145, 221, 196);
    width: 80%;
    height: 200px;
    margin: auto; /* puts the same margin on both sides - nicely centers*/
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;;
    justify-content: flex-start;
    row-gap: 10px;
    column-gap: 20px;
    padding: 10px;
}

.item {
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    width: 200px;
    background-color: white;
}

.item:hover {
    border: 3px solid rgb(10, 65, 53);
}

/* TODO */
