<div class="position-relative">
  <div class="position-absolute top-10 start-50 translate-middle-x">
    <form [formGroup]="heroForm" (ngSubmit)="onSubmit()" class="shadow-sm p-3 bg-body-tertiary rounded">
      <h3>Add Superhero</h3>
      <div class="row">
        <div class="col-12">
          <label class="form-label" for="name">Name:</label>
          <input class="form-control" type="text" id="name" formControlName="name">
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <label class="form-label" class="form-label" for="job">Job Title:</label>
          <input class="form-control" type="text" id="job" formControlName="job">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <hr class="my4">
          <div formGroupName="alterEgo">
            <h5>Alter Ego</h5>


            <div class="row">
              <div class="col-12">
                <label class="form-label" class="form-label" for="name">Name:</label>
                <input class="form-control" type="text" id="name" formControlName="name">
              </div>
            </div>


            <div class="row">
              <div class="col-12">
                <label class="form-label" class="form-label" for="superpowers">Superpowers:</label>
                <textarea formControlName="superpowers" class="form-control" id="superpowers" name="superpowers" rows="3"></textarea>
                <small class="help-block">Please enter a comma separated list</small>
              </div>
            </div>


            <div class="row">
              <div class="col-12">
                <label class="form-label" class="form-label" for="weakness">Weakness:</label>
                <input class="form-control" type="text" id="weakness" formControlName="weakness">
              </div>
            </div>
          </div>

          <hr class="my4">
        </div>
      </div>
      <div>
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
    </form>
  </div>
</div>