<div>
<form (ngSubmit)="onSubmit()" #myForm="ngForm">
    <div>
        <label for="name">
            Name:
        </label>
        <input [(ngModel)]="tempChanges.name" id="name" type="text" name="name" required #name="ngModel">
        <div [hidden]="name.valid || name.pristine">
            Name is required
        </div>
    </div>
    <div>
        <label for="color">
            Favorite Color:
        </label>
        <input [(ngModel)]="tempChanges.favoriteColor" id="color" type="color" name="favoriteColor">
    </div>
    <input type="submit" value="Submit">

</form>
</div>